body {
  background-color: #282c34;
  padding: 2em;
}

.App {
  text-align: center;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
}

.board {
  display: grid;
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.cell {
  border: 1px solid white;
  border-radius: 5px;
  font-size: 1rem;
  color: #282c34;
  background-color: #282c34;
  padding: 1rem;
}

.cell-active {
  border: 1px solid white;
  border-radius: 5px;
  font-size: 3rem;
  color: black;
  background-color: gray;
  padding: 1rem;
}

.cell-click {
  border: 1px solid white;
  border-radius: 5px;
  font-size: 3rem;
  color: black;
  background-color: gray;
  padding: 1rem;
}

.cell-wrong {
  border: 1px solid white;
  border-radius: 5px;
  font-size: 3rem;
  color: black;
  background-color: gray;
  padding: 1rem;
}
